<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crypto&Alerts</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='style/css/custom.min.css') }}">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>

<body onload="update_values();">

  <div class="container">
    <div class="tab-pane active" id="home">
      <div class="container bootstrap snippets bootdey">
        <div class="row">
          {% if session_pairs_list %}
          {% for pair in session_pairs_list %}
          <div class="col-md-3 col-xs-6">
            <br>
            <div class="alert alert-dismissible alert-light">
              <form action="{{ url_for('delete_pair') }}" method="POST">
                <input type="hidden" name="trade_pair" value="{{ pair }}">
                <button style="font-size: 29px" type="submit" class="close text-dark">&times;</button>
              </form>
              <h5 class="alert-heading text-warning"><strong>{{ pair }}</strong></h5>
              <p style="font-size: 20px;" id="price{{ loop.index - 1 }}">x</p>
              <button style="font-size: 23px; margin: 40px -2px ;"
              data-toggle="modal" data-target="#{{ pair }}" class="close text-dark">&#x2699;</button>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <!--Modals-->
    {% if session_pairs_list %}
    {% for pair in session_pairs_list %}
    <div id="{{ pair }}" class="modal fade">
      <div class="modal-dialog modal-sm">
        <div class="modal-content lead">
          <div class="modal-body">
            <button style="font-size: 29px" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h5 class="modal-title text-center text-warning" style="font-size:35px;"><strong>{{ pair }}</strong></h5>
            <h5 class="modal-title text-center" style="font-size:35px;" id="modalprice{{ loop.index - 1 }}">x</h5>

            {% set alerts = alerts_dict.get(pair) %}
            {% if alerts %}
            <form action="{{ url_for('delete_alert') }}" method="POST">
            <input type="hidden" name="trade_pair" value="{{ pair }}">
              {% if alerts[0] %}
              <button style="margin: 5px 55px;" type="submit" name="alert_index" value="0" class="btn btn-outline-success" title="Click to delete">
                {{ "%.8f"|format(alerts[0]) }}
              </button>
              {% endif %}

              {% if alerts[1] %}
              <button style="margin: 5px 55px;" type="submit" name="alert_index" value="1" class="btn btn-outline-danger" title="Click to delete">
                {{ "%.8f"|format(alerts[1]) }}
              </button>
              {% endif %}
            </form>
            {% endif %}

            <form method="POST" action="{{ url_for('add_alert') }}">
              <input type="hidden" name="trade_pair" value="{{ pair }}">
              <fieldset class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="direction" value="up" checked="">
                      <span style="color: lightgreen;">&#8639;</span>upstream alert
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="direction" value="down">
                      <span style="color: red;">&#8643;</span>downward alert
                  </label>
                </div>
              </fieldset>
              <div class="input-group mb-3">
                <input name="alert_val" class="form-control form-control-sm" min="0.00000001" step="any" type="number" required>
              </div>
                <input style="margin-left: 90px;" type="submit" value="Set Alert" class="btn btn-secondary">
            </form>

          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <!--end modals-->
    
    <footer id="footer">
      <div class="row">
        <div class="col-lg-12">
            <div class="col-md-3 col-xs-6">
              <form name="AddForm" method="POST" action="{{ url_for('add_pair') }}" onsubmit="return validateForm()">
                <div class="input-group mb-3">
                  <input type="text" list="trade_pairs" class="form-control" name="trade_pair" id='txt' placeholder="Type Pair">
                  <input type="submit" value="add pair" class="btn btn-secondary">
                </div>
              </form>
            </div>
          <p>Page uses cookies files</a></p>
          <p>Enable browser notifications, to receive alerts</p>
        </div>
      </div>
    </footer>

  </div>

<script type="text/javascript">
  var $SCRIPT_ROOT = window.location;
</script>

<script type="text/javascript">
  var intervalID = setInterval(update_values,1000);

  navigator.serviceWorker.register('sw.js');
  Notification.requestPermission(function(result){
    });
  
  function update_values() {
        $.getJSON($SCRIPT_ROOT + 'data',
                
    function(data) {
      {% if session_pairs_list %}
        {% for pair in session_pairs_list %}
          $('#price{{ loop.index - 1 }}').text(data.result[{{ loop.index - 1 }}]);
          $('#modalprice{{ loop.index - 1 }}').text(data.result[{{ loop.index - 1 }}]);
        {% endfor %}
      {% endif %}

      
      // notification if alert
      if(data.raise_alert[0] != null){
        showNotification();
        location.reload();
        }

      function showNotification() {
        Notification.requestPermission(function(result) {
            if (result === 'granted') {
              navigator.serviceWorker.ready.then(function(registration) {
                registration.showNotification(data.raise_alert[0] + '  REACHED ' + data.raise_alert[1], {
                vibrate: [200, 100, 200, 100, 200, 100, 200],
                tag: data.raise_alert[1],
                });
            });
            }
        });
        }     
      // console.log(data)
    });
  };

  function stopTextColor() {
    clearInterval(intervalID);
  }
  </script>

  <script>
    {% if session_pairs_list %}
      {% for pair in session_pairs_list %}
        document.getElementById("price{{ loop.index - 1 }}").innerHTML;
      {% endfor %}
    {% endif %}
  </script>

  <script>
    function validateForm() {
    var val = $("#txt").val();
    var obj = $("#trade_pairs").find("option[value='" + val + "']");
    
    if(obj != null && obj.length > 0)
    return true;  // allow form submission
      
    else
      alert("Invalid name,сhoose a trade pair from suggest list."); // don't allow form submission
      return false;
    }
  </script>

  <script src="{{ url_for('static', path='style/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', path='style/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', path='style/js/custom.js') }}"></script>

  <datalist id="trade_pairs">
    {% for p_name in p_names %}
    <option value="{{ p_name }}">
    {% endfor %}
  </datalist>

</body>
</html>