<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Update</title>
  
</head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type="text/javascript">
  var $SCRIPT_ROOT = window.location;
</script>

<script type="text/javascript">
    var intervalID = setInterval(update_values,1000);
    
      function update_values() {
            $.getJSON($SCRIPT_ROOT + 'data',
                   
          function(data) {
            {% if session_pairs_list %}
              {% for s_pair in session_pairs_list %}

                $('#price{{ loop.index - 1 }}').text(data.result[{{ loop.index - 1 }}]);

              {% endfor %}
            {% endif %}
            console.log(data)
          });
        };
        function stopTextColor() {
          clearInterval(intervalID);
        }
    </script>




  <body onload="update_values();">
    <h1>Dynamic Update</h1>

      {% if request.cookies.get('pairs') %}
        <p>{{ request.cookies.get('pairs') }}</p>
      {% endif %}


      {% if session_pairs_list %}
        {% for s_pair in session_pairs_list %}
          <h2>{{ s_pair }}</h2>
          <h2 id="price{{ loop.index - 1 }}">none</h2>

          <form action="{{ url_for('delete_pair') }}" method="POST" >
            <input type="hidden" name="trade_pair" value="{{ s_pair }}">
            <button type="submit" value="delete">delete</button>
          </form>

        {% endfor %}
      {% endif %}
      
        
      <script>
        {% if session_pairs_list %}
          {% for s_pair in session_pairs_list %}
            document.getElementById("price{{ loop.index - 1 }}").innerHTML;
          {% endfor %}
        {% endif %}
      </script>

          <br><br><br><br>


          <form name="AddForm" method="POST" action="{{ url_for('add_pair') }}" onsubmit="return validateForm()">
            <input list="trade_pairs" name="trade_pair" id='txt'>
            <input type="submit" value="Add pair">
          </form>

          <br><br><br><br>


          <datalist id="trade_pairs">
            {% for p_name in p_names %}
            <option value="{{ p_name }}">
            {% endfor %}
          </datalist>

    <script>
      function validateForm() {
      var val = $("#txt").val();
      var obj = $("#trade_pairs").find("option[value='" + val + "']");
      
      if(obj != null && obj.length > 0)
      return true;  // allow form submission
        
      else
        alert("Invalid name,сhoose a trade pair from suggest list"); // don't allow form submission
        return false;
      }
    </script>
  </body>
</html>